
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        alert("You are in")
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
