
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="login_options"> 
        <a href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=https://localhost:44306/Login/Success&scope=openid profile&client_id=278794354905-bqio775t8slrenom701km5gjnilpvfug.apps.googleusercontent.com">Login with your google account.</a>
        <br />
        <a href="#">Login with your facebook account.</a>
    </div>
</body>
</html>
